.animated {
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.animated-foreground {
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.border-radius-zero {
    border-radius: 0;
}

@-moz-keyframes blink {
    0% {
        background-color: red;
    }

    100% {
        background-color: #0d1118;
    }
}

@keyframes blink {
    0% {
        background-color: red;
    }

    100% {
        background-color: #0d1118;
    }
}

@-webkit-keyframes blink {
    0% {
        background-color: red;
    }

    100% {
        background-color: #0d1118;
    }
}

.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    -o-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}

.btn {
    border-radius: 0;
}

.home-header {
    background-image: url(../images/baner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 500px;
}

.home-header #top-row {
    margin-top: 75px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
}

@media screen and (max-width: 992px) {
    .home-header #top-row {
        margin-top: 0;
    }

    .home-header #top-row .text-wrapper {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .home-header #top-row .text-wrapper img {
        display: block;
        margin: 0 auto;
    }

    .home-header #top-row .text-wrapper h1 {
        margin: 0;
        padding: 0;
        color: white;
        margin-top: 10px;
        font-size: 20px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    }
}

@media screen and (min-width: 992px) {
    .home-header #top-row .text-wrapper {
        text-align: center;
        margin-top: 30px;
    }

    .home-header #top-row .text-wrapper img {
        display: block;
        margin: 0 auto;
    }

    .home-header #top-row .text-wrapper h1 {
        margin: 0;
        padding: 0;
        color: white;
        margin-top: 10px;
        font-size: 20px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    }
}

.home-header #top-row .forms-wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.home-header #top-row .forms-wrapper .panel {
    margin: 0;
    border-radius: 0;
    border: none;
}

.home-header #top-row .forms-wrapper .panel .panel-heading {
    border-radius: 0;
    background-color: #1F272E;
}

.home-header #top-row .forms-wrapper .panel .panel-heading h3 {
    margin: 0;
    padding: 0;
}

.home-header #top-row .forms-wrapper .panel .panel-body label {
    margin-top: 3px;
}

.home-header #top-row .forms-wrapper .panel .panel-body input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: #e7e7e7;
    font-size: 20px;
}

.home-header #top-row .forms-wrapper .panel .panel-body .checkbox input {
    width: 20px;
}

.home-header #top-row .forms-wrapper .panel .panel-footer {
    border-radius: 0;
}

.home-header #top-row .forms-wrapper .panel .panel-footer .btn {
    border-radius: 0;
}

.home-header #top-row .forms-wrapper #reg-form {
    display: none;
}

.home-header #top-row .forms-wrapper .reg-form-single-view {
    display: block !important;
}

.middle-section {
    background-color: #0B1218;
}

.middle-section .features-section {
    padding: 20px;
}

.middle-section .features-section h3 {
    padding: 10px !important;
    margin-bottom: 20px !important;
}

.middle-section .features-section h4 {
    font-size: 18px;
}

.middle-section .features-section .feature {
    border: 1px solid #FFFFFF;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(143, 143, 143, 0.27);
    background-color: #fff;
}

.middle-section .features-section .feature img {
    display: block;
    margin: 0 auto;
}

.middle-section .features-section .feature .feature-divider {
    width: 100%;
    height: 1px;
    background-color: #ECECEC;
}

.middle-section .features-section .feature .feature-text-wrapper {
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .middle-section .features-section .feature {
        min-height: 400px;
    }
}

@media screen and (min-width: 992px) {
    .middle-section .features-section .feature {
        min-height: 360px;
    }
}

.middle-section .summary-section {
    background-image: url(../images/mobile/stardust_@2X.png);
    color: #e4e4e4;
}

.middle-section .summary-section .title-section {
    margin-top: 20px;
}

.middle-section .summary-section .title-section h3 {
    font-size: 30px !important;
    color: white !important;
    font-weight: 500;
}

.middle-section .summary-section .summary-row {
    padding: 20px;
    text-align: center;
}

.middle-section .summary-section .summary-row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.middle-section .summary-section .summary-row ul li {
    font-size: 18px;
    margin: 30px 0;
}

.middle-section .summary-section .summary-row ul li .summary-span {
    color: #FFF;
    border-bottom: 2px solid #1a7dd8;
    padding: 3px 0;
}

.middle-section .picto-row {
    text-align: center;
    color: #bedcf7;
}

.middle-section .picto-row i {
    font-size: 42px;
    color: #1a7dd8;
}

.middle-section .title-section {
    text-align: center;
}

.middle-section .title-section h3 {
    margin: 0;
    padding: 0;
    color: #ECECEC;
    font-size: 20px;
}

#mobile-container {
    padding: 10px;
    background-color: rgba(243, 243, 243, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.mobile-section {
    padding: 100px 20px;
    background-image: url(../images/baner-mobile.jpg);
    background-position: center top;
    background-size: cover;
}

.mobile-section .mobile-item-link {
    text-decoration: none;
}

.mobile-section .mobile-item-link .mobile-item {
    margin-top: 25px;
    padding: 10px;
    background-color: #f8f8f8;
    text-align: center;
    border-bottom: 1px solid #bababa;
    border-radius: 3px;
}

.mobile-section .mobile-item-link .mobile-item img {
    display: block;
    margin: 0 auto;
}

.mobile-section .mobile-item-link .mobile-item h3 {
    color: white;
    margin: 0;
    padding: 0;
}

.mobile-section .mobile-item-link .mobile-item a {
    margin: 0;
    padding: 0;
}

.mobile-section .mobile-item-link #android-item {
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.mobile-section .mobile-item-link #android-item h3 {
    color: #02b141;
}

.mobile-section .mobile-item-link #ios-item {
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.mobile-section .mobile-item-link #ios-item h3 {
    color: #3c3c3c;
}

.mobile-section .mobile-item-link #windows-item {
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.mobile-section .mobile-item-link #windows-item h3 {
    color: #0272d1;
}

.mobile-section .mobile-item-link:hover #android-item {
    background-color: rgba(2, 177, 65, 0.6);
}

.mobile-section .mobile-item-link:hover #android-item h3 {
    color: white;
}

.mobile-section .mobile-item-link:hover #ios-item {
    background-color: rgba(60, 60, 60, 0.6);
}

.mobile-section .mobile-item-link:hover #ios-item h3 {
    color: white;
}

.mobile-section .mobile-item-link:hover #windows-item {
    background-color: rgba(2, 114, 209, 0.6);
}

.mobile-section .mobile-item-link:hover #windows-item h3 {
    color: white;
}

.index-loading-gif {
    display: none;
    width: 30px;
}

.index-footer {
    background-color: #0d1016;
    width: 100%;
    padding: 10px;
}

.index-footer p {
    color: #bedcf7;
}