.animated {
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.animated-foreground {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.border-radius-zero {
  border-radius: 0;
}
@-moz-keyframes blink {
  0% {
    background-color: red;
  }
  100% {
    background-color: #0d1118;
  }
}
@keyframes blink {
  0% {
    background-color: red;
  }
  100% {
    background-color: #0d1118;
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: red;
  }
  100% {
    background-color: #0d1118;
  }
}
.blink {
  -webkit-animation: blink 0.5s linear infinite;
  -moz-animation: blink 0.5s linear infinite;
  -o-animation: blink 0.5s linear infinite;
  animation: blink 0.5s linear infinite;
}
.btn {
  border-radius: 0;
}
html,
body {
  font-family: Ubuntu, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
#top-section {
  width: 100%;
  background-image: url('/Content/images/heading/profile.jpg');
  background-position: center top;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  #top-section {
    text-align: center;
  }
}
#top-section #ts-navbar {
  width: 100%;
  height: 70px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
#top-section #ts-navbar ul.navbar-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#top-section #ts-navbar ul.navbar-list li.navbar-item {
  text-align: center;
}
#top-section #ts-navbar ul.navbar-list li.navbar-item a.co-item-alarm-link {
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-animation: blink 0.5s linear infinite;
  -moz-animation: blink 0.5s linear infinite;
  -o-animation: blink 0.5s linear infinite;
  animation: blink 0.5s linear infinite;
  background-color: #2E2E2E;
  color: #F00;
  font-weight: 700;
  text-shadow: none;
}
#top-section #ts-navbar ul.navbar-list li.navbar-item a.co-item-alarm-link:hover {
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background-color: #F00;
  color: #FFF;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  #top-section #ts-navbar #navbar-menu-btn {
    display: block;
    float: right;
    font-size: 30px;
    position: relative;
    right: 10px;
    top: 13px;
    border: none;
    background-color: #2c1a12;
    color: #EBEBEB;
  }
  #top-section #ts-navbar .navbar-menu-btn-alarm {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    -o-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
  }
  #top-section #ts-navbar ul.navbar-list {
    position: relative;
    top: 70px;
    left: 30px;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item {
    display: none;
    border-bottom: 1px solid black;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a {
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    color: #6F6F74;
    font-size: 16px;
    background-color: rgba(24, 23, 27, 0.9);
    padding: 13px 0;
    width: 100px;
    display: block;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a:hover {
    text-decoration: none;
    background-color: #2E3664;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a.active {
    color: #fff;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a.co-item-alarm-disabled {
    background-color: rgba(24, 23, 27, 0.9);
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a.co-item-alarm-disabled:hover {
    cursor: default;
  }
}
@media screen and (min-width: 992px) {
  #top-section #ts-navbar #navbar-menu-btn {
    display: none;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item {
    display: inline-block !important;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a {
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    color: #292A31;
    font-size: 16px;
    background-color: rgba(82, 82, 82, 0.25);
    padding: 13px 0;
    width: 100px;
    display: block;
    margin-left: 3px;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a:hover {
    text-decoration: none;
    background-color: rgba(160, 169, 215, 0.5);
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a.active {
    color: #fff;
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a.co-item-alarm-disabled {
    background-color: rgba(82, 82, 82, 0.25);
  }
  #top-section #ts-navbar ul.navbar-list li.navbar-item a.co-item-alarm-disabled:hover {
    cursor: default;
  }
}
#top-section #ts-container {
  padding: 10px;
}
#top-section #ts-container .todo-task-container {
  background: #FFF;
  padding-bottom: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
#top-section #ts-container #name-row h2 {
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.67);
}
#top-section #ts-container #name-row h5 {
  color: #fff;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.67);
}
#top-section #ts-container #name-row a {
  font-size: 20px;
  color: #37A2FF;
}
#top-section #ts-container #name-row .btn {
  padding: 3px 10px;
}
@media screen and (max-width: 768px) {
  #top-section #ts-container #name-row h2 {
    margin: 10px;
  }
}
@media screen and (min-width: 992px) {
  #top-section #ts-container #name-row h2 {
    font-size: 50px;
  }
}
#top-section #ts-container .firestation-row {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3px;
}
#top-section #ts-container .firestation-row .col-sm-12 {
  padding: 0;
}
#top-section #ts-container .firestation-row .col-sm-12 .station-image {
  width: 100%;
  height: 220px;
  background-position: center top;
}
#top-section #ts-container #ts-row {
  margin-top: 10px;
}
#top-section #ts-container #ts-row #ts-img-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 3px;
}
#top-section #ts-container #ts-row #ts-img-wrapper #user-profile-img {
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 1200px) {
  #top-section #ts-container #ts-row #ts-img-wrapper #user-profile-img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  #top-section #ts-container #ts-row #ts-img-wrapper #user-profile-img {
    height: 256px;
    width: 256px;
  }
}
#top-section #ts-container #ts-row #achievements-row {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
#top-section #ts-container #ts-row #achievements-row h4 {
  color: white;
}
#top-section #ts-container #ts-row #achievements-row #lastActionBox {
  color: white;
  font-size: 16px;
}
#top-section #ts-container #ts-row #achievements-row ul.functions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#top-section #ts-container #ts-row #achievements-row ul.functions-list li {
  padding: 5px;
  font-size: 16px;
  color: #FFF;
  background-color: rgba(231, 231, 231, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  #top-section #ts-container #ts-row #achievements-row canvas {
    margin-top: 20px;
  }
}
#top-section #ts-container #ts-row #achievements-row .station-image {
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 768px) {
  #top-section #ts-container #ts-row #achievements-row {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #top-section #ts-container #ts-row #achievements-row {
    min-height: 150px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #top-section #ts-container #ts-row #achievements-row {
    min-height: 180px;
  }
}
@media screen and (min-width: 1200px) {
  #top-section #ts-container #ts-row #achievements-row {
    min-height: 266px;
    margin-right: 0px;
  }
}
.row-bottom {
  margin-bottom: 50px;
}
#settings-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.co-alarm-single {
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #DBDBDB;
  padding: 5px;
  margin-top: 20px;
}
.co-alarm-single p {
  margin: 0;
  padding: 0;
}
.co-alarm-single .alarm-single-row {
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  padding: 5px;
  background-color: #e9e9e9;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
}
.co-alarm-single .alarm-single-row ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.co-alarm-single .alarm-single-row ul li {
  font-size: 16px;
}
.co-alarm-single .alarm-single-row ul li.text-accepted i {
  color: #0fb70f;
}
.co-alarm-single .alarm-single-row ul li.text-denied i {
  color: red;
}
.co-alarm-single .alarm-single-row .triangle {
  width: 100%;
  height: 50px;
  color: #d9534f;
  text-align: right;
  position: relative;
  top: 10px;
}
.co-alarm-single .alarm-single-row .triangle i {
  font-size: 30px;
  margin-top: 10px;
}
.co-alarm-single .btn {
  padding: 3px 10px;
  width: 100%;
}
.co-alarm-single:hover {
  background-color: #25345c;
  color: #fafafa;
  border-bottom: 2px solid #192440;
}
.co-alarm-single:hover .alarm-single-row {
  background-color: #324370;
}
.firestation-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: #b0b0b0;
}
.co-people .co-station-profile .co-profile-name {
  display: block;
  text-align: center;
  background-color: #EEEEEE;
  padding: 3px 10px;
  color: #275CA0;
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  .co-people .co-station-profile {
    margin-top: 15px;
  }
  .co-people .co-station-profile .co-profile-name {
    width: 150px;
    margin: 0 auto;
    margin-top: 3px;
  }
}
@media screen and (min-width: 768px) {
  .co-people .co-station-profile .co-profile-name {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .co-people .user-image {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .co-people .user-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .co-people .user-image {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .co-people .user-image {
    width: 165px;
    height: 165px;
  }
}
@media screen and (max-width: 768px) {
  #firestation-stats-row canvas {
    padding: 10px;
    position: relative;
    right: 10px;
  }
}
.report-container {
  padding: 20px;
}
.report-container #report-col {
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.infobox {
  text-align: center;
}
.infobox p {
  font-size: 24px;
  background-color: rgba(92, 117, 136, 0.4);
  padding: 10px;
  font-weight: 700;
  color: white;
}
.infobox-rejected p {
  border-bottom: 2px solid #df505d;
}
.infobox-accepted p {
  border-bottom: 2px solid #14c880;
}
.infobox-noresponse p {
  border-bottom: 2px solid #313131;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .infobox-middle {
    position: relative;
    top: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .infobox-middle {
    position: relative;
    top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .infobox-middle {
    position: relative;
    top: 60px;
  }
}
.alarm-summary {
  margin-top: 10px;
  margin-bottom: 30px;
}
.alarm-summary .panel {
  border-radius: 0;
}
.alarm-entry .alarm-inside {
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 2px solid #DBDBDB;
  padding: 5px;
  margin-top: 20px;
}
.alarm-entry .alarm-inside h3 {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
  font-size: 18px;
}
.alarm-entry .alarm-inside h3 a {
  color: #254d79;
}
.alarm-entry .alarm-inside img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.alarm-entry .alarm-inside .entry-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  left: 33px;
}
.alarm-entry .alarm-inside .entry-list li {
  display: inline-block;
  background-color: #254d79;
  padding: 2px 6px;
  color: white;
}
.alarm-entry .alarm-inside a.phone-wrap {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 30px;
}
.alarm-noresponse .alarm-inside {
  border-bottom: 2px solid #313131;
}
.alarm-joined .alarm-inside {
  border-bottom: 2px solid #14c880;
}
.alarm-rejected .alarm-inside {
  border-bottom: 2px solid #df505d;
}
.map-wrapper #map {
  width: 100%;
  height: 500px;
  background-image: url('images/alarm/map_view.jpg');
  background-position: center center;
  border-bottom: 1px solid #c1c1c1;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .map-wrapper #map {
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  .user-decision-view .alarm-entry {
    display: inline-block;
    width: 31.2%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .user-decision-view .alarm-entry {
    width: 100%;
  }
}
.tasklist .task-single {
  font-size: 12px;
  background-color: #F9FFA6;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #F7F186;
  border-bottom: 2px solid #F0F28D;
}
.tasklist .task-single a i {
  color: black;
}
.tasklist .task-single a i:hover {
  color: #0099b5;
}
@media screen and (min-width: 992px) {
  .col-border {
    border-right: 1px solid #eee;
  }
}
#task-details-big {
  z-index: 99;
  background-color: #F9FFA6;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #F7F186;
  border-bottom: 2px solid #F0F28D;
}
@media screen and (min-width: 992px) {
  #task-details-big:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 20px;
    left: 20px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #B3B3B3;
    box-shadow: 0 5px 10px #A6A6A6;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  #task-details-big:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 20px;
    right: 20px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #B3B3B3;
    box-shadow: 0 5px 10px #A6A6A6;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@media screen and (max-width: 992px) {
  #task-details-big:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 8px;
    left: 20px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #B3B3B3;
    box-shadow: 0 5px 10px #A6A6A6;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  #task-details-big:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 8px;
    right: 20px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #B3B3B3;
    box-shadow: 0 5px 10px #A6A6A6;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
.edit-container {
  background: rgba(255, 255, 255, 0.5);
  max-width: 600px;
  margin-bottom: 15px;
}
/*footer at the bottom*/
#holder {
  min-height: 100%;
  position: relative;
}
#body {
  padding-bottom: 100px;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
}
/*footer at the bottom - end*/
/*# sourceMappingURL=coordinator-new-style.css.map */